@model PassIssueSystem.Models.Company

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Company</legend>

        @Html.HiddenFor(model => model.CompanyID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address3)
            @Html.ValidationMessageFor(model => model.Address3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BOIApproveNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BOIApproveNo)
            @Html.ValidationMessageFor(model => model.BOIApproveNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BOIApproveDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BOIApproveDate)
            @Html.ValidationMessageFor(model => model.BOIApproveDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone1)
            @Html.ValidationMessageFor(model => model.Telephone1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone2)
            @Html.ValidationMessageFor(model => model.Telephone2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddDate)
            @Html.ValidationMessageFor(model => model.AddDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddUser)
            @Html.ValidationMessageFor(model => model.AddUser)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
