@model PassIssueSystem.Models.LoginModel

@{
    ViewBag.Title = "Log In";
    Layout = null;
}

<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Styles.Render("~/Content/bootstrapcss")

    <title>Sign in | Biyagama EPZ</title>
</head>
<body class='contrast-fb login contrast-background'>
    <section id="loginForm">
        <div class='middle-container'>
            <div class='middle-row'>
                <div class='middle-wrapper'>
                    <div class='login-container-header'>
                        <div class='container'>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <div class='text-center'>
                                        <h2 class='text-center title'>Welcome to Biyagama EPZ | Pass Issue System</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='login-container'>
                        <div class='container'>
                            <div class='row'>
                                <div class='col-sm-4 col-sm-offset-4'>
                                    <h2 class='text-center title'>Sign in</h2>
                                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <fieldset>
                                            <legend></legend>
                                            <div class='form-group'>
                                                <div class='controls with-icon-over-input'>
                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter Username" })
                                                    @Html.ValidationMessageFor(m => m.UserName)
                                                    <i class='icon-user text-muted'></i>
                                                </div>
                                            </div>
                                            <div class='form-group'>
                                                <div class='controls with-icon-over-input'>
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                                    @Html.ValidationMessageFor(m => m.Password)
                                                    <i class='icon-lock text-muted'></i>
                                                </div>
                                            </div>
                                            <div class='checkbox'>
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                                            </div>

                                            <input type="submit" value="Log in" class="btn btn-primary col-xs-12" />
                                        </fieldset>
                                    }
                                    <div class='text-center'>
                                        <hr class='hr-normal'>
                                        <a href="@Url.Action("Register", "Account")"'>Forgot your password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @*<div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>*@

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Samitha Gunarathna</p>
            </div>
        </div>
    </footer>
</body>
</html>
