@model PassIssueSystem.Models.PaymentDetail

@{
    ViewBag.Title = "Create";
}

<div class="col-xs-12">
    <div class="row">
    </div>
</div>
<div class="col-sm-12">
    <div class='row'>
        <div class='col-sm-12'>
            <div class='box bordered-box fb-border'>
                <div class='box-header fb-background'>
                    <div class='title'>
                        <i class='icon-money'></i>
                        New Payment for @ViewBag.ReqNo
                    </div>
                    <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <form class="form form-horizontal" style="margin-bottom: 0;" method="post" action="@Url.Action("Create", "Payment", new { paymentdetail = Model, reqno = ViewBag.ReqNo, price = ViewBag.Total })" accept-charset="UTF-8">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <fieldset>
                                <legend>Payment Details</legend>

                                <h3>Total Amount</h3>
                                <div class="row invoice">
                                    <div class="col-sm-12">
                                        <div class="text-left text-contrast subtotal">
                                            Rs. @ViewBag.Total
                                        </div>
                                    </div>
                                </div>

@*                                <div class="form-group">
                                    <div class="col-md-2 control-label">
                                        @Html.LabelFor(model => model.PaymentDate)
                                    </div>
                                    <div class="col-md-5">
                                        <div class='datepicker-input input-group' id='datepickerfrom' data-format="yyyy-MM-dd">
                                            @Html.TextBoxFor(model => model.PaymentDate, new { @class = "form-control", id = "paydate" })
                                            <span class='input-group-addon'>
                                                <span class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PaymentDate)
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <div class="col-md-2 control-label">
                                        @Html.LabelFor(model => model.PaymentType)
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.PaymentType, (IEnumerable<SelectListItem>)ViewBag.PayTypes, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PaymentType)
                                    </div>
                                </div>

                                <div class='form-actions form-actions-padding-sm'>
                                    <div class='row'>
                                        <div class='col-md-10 col-md-offset-2'>
                                            <button class='btn btn-primary' value="Create" style="margin-bottom: 5px">
                                                <i class='icon-save'></i>
                                                Save
                                            </button>
                                            <a href="@Url.Action("Office", "Home")" class="btn btn-default" style="margin-bottom:5px">
                                                <i class="icon-undo"></i>
                                                <span>Cancel</span></a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </form>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                        @Scripts.Render("~/bundles/Custom")
                    }
                </div>
            </div>
        </div>
    </div>
</div>
