@model PassIssueSystem.Models.PassRequestHed

@{
    ViewBag.Title = "New Pass Request";
}

<html>
<head>
    <title>New Pass Request</title>
</head>
<body class='contrast-red'>
    <header></header>
    <section id='content'>
        <div class='row' id='content-wrapper'>
            <div class='col-sm-12'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='box bordered-box blue-border'>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <fieldset>
                                    <legend class='box-header blue-background'>New Pass Request</legend>

                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.CompanyID, "Company")
                                    </div>                                      
                                    <div class="editor-field">
                                                                                  
                                        @Html.DropDownList("CompanyID", String.Empty)
                                        @Html.ValidationMessageFor(model => model.CompanyID)
                                    </div>

                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.RequiredFrom)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.RequiredFrom)
                                        @Html.ValidationMessageFor(model => model.RequiredFrom)
                                    </div>

                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.RequiredTo)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.RequiredTo)
                                        @Html.ValidationMessageFor(model => model.RequiredTo)
                                    </div>

                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Comments)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.Comments)
                                        @Html.ValidationMessageFor(model => model.Comments)
                                    </div>

                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.AddDate)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.AddDate)
                                        @Html.ValidationMessageFor(model => model.AddDate)
                                    </div>

                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.AddUser)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.AddUser)
                                        @Html.ValidationMessageFor(model => model.AddUser)
                                    </div>

                                    <div class='form-actions form-actions-padding-sm'>
                                        <div class='row'>
                                            <div class='col-md-10 col-md-offset-2'>
                                                <button class='btn btn-primary' type='submit' value="Create">
                                                    <i class='icon-save'></i>
                                                    Save
                                                </button>
                                                <button class='btn' type='submit'>Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>

                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
