<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Styles.Render("~/Content/bootstrapcss")

    <title>Biyagama EPZ</title>
</head>

<body class='contrast-red '>
    <header>
        <nav class='navbar navbar-default'>
            <a class='navbar-brand' href='index.html'>
                <img width="21" height="21" class="logo-xs" alt="Flatty" src="Images/logo_xs.png" />
            </a>
            <a class='toggle-nav btn pull-left' href='#'>
                <i class='icon-reorder'></i>
            </a>
            <ul class='nav'>
                <li class='dropdown light only-icon'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        <i class='icon-cog'></i>
                    </a>
                    <ul class='dropdown-menu color-settings'>
                        <li class='color-settings-body-color'>
                            <div class='color-title'>Change body color</div>
                            <a data-change-to='Content/Theme/light-theme.css' href='#'>Light
                  <small>(default)</small>
                            </a>
                            <a data-change-to='Content/Theme/dark-theme.css' href='#'>Dark
                            </a>
                            <a data-change-to='Content/Theme/dark-blue-theme.css' href='#'>Dark blue
                            </a>
                        </li>
                        <li class='divider'></li>
                        <li class='color-settings-contrast-color'>
                            <div class='color-title'>Change contrast color</div>
                            <a data-change-to="contrast-red" href="#"><i class='icon-cog text-red'></i>
                                Red
                            </a>
                            <a data-change-to="contrast-blue" href="#"><i class='icon-cog text-blue'></i>
                                Blue
                            </a>
                            <a data-change-to="contrast-orange" href="#"><i class='icon-cog text-orange'></i>
                                Orange
                            </a>
                            <a data-change-to="contrast-purple" href="#"><i class='icon-cog text-purple'></i>
                                Purple
                            </a>
                            <a data-change-to="contrast-green" href="#"><i class='icon-cog text-green'></i>
                                Green
                            </a>
                            <a data-change-to="contrast-muted" href="#"><i class='icon-cog text-muted'></i>
                                Muted
                            </a>
                            <a data-change-to="contrast-fb" href="#"><i class='icon-cog text-fb'></i>
                                Facebook
                            </a>
                            <a data-change-to="contrast-dark" href="#"><i class='icon-cog text-dark'></i>
                                Dark
                            </a>
                            <a data-change-to="contrast-pink" href="#"><i class='icon-cog text-pink'></i>
                                Pink
                            </a>
                            <a data-change-to="contrast-grass-green" href="#"><i class='icon-cog text-grass-green'></i>
                                Grass green
                            </a>
                            <a data-change-to="contrast-sea-blue" href="#"><i class='icon-cog text-sea-blue'></i>
                                Sea blue
                            </a>
                            <a data-change-to="contrast-banana" href="#"><i class='icon-cog text-banana'></i>
                                Banana
                            </a>
                            <a data-change-to="contrast-dark-orange" href="#"><i class='icon-cog text-dark-orange'></i>
                                Dark orange
                            </a>
                            <a data-change-to="contrast-brown" href="#"><i class='icon-cog text-brown'></i>
                                Brown
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='dropdown medium only-icon widget'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        <i class='icon-rss'></i>
                        <div class='label'>1</div>
                    </a>
                    <ul class='dropdown-menu'>
                        <li>
                            <a href='#'>
                                <div class='widget-body'>
                                    <div class='pull-left icon'>
                                        <i class='icon-user text-success'></i>
                                    </div>
                                    <div class='pull-left text'>
                                        New Pass Request from Lumiere Textiles
                      <small class='text-muted'>just now</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='dropdown dark user-menu'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        <span class='user-name'>Hi @User.Identity.Name</span>
                        <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu'>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <span>Log off</span>
                                    <i class='icon-signout'></i>
                                </a>
                            </li>                      
                        }
                    </ul>
                </li>
            </ul>
            <form action='search_results.html' class='navbar-form navbar-right hidden-xs' method='get'>
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
                <div class='form-group'>
                    <input value="" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text" />
                </div>
            </form>
        </nav>
    </header>
    <div id='wrapper'>
        <div id='main-nav-bg'></div>
        <nav id='main-nav'>
            <div class='navigation'>
                <div class='search'>
                    <form action='search_results.html' method='get'>
                        <div class='search-wrapper'>
                            <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                            <button class='btn btn-link icon-search' name='button' type='submit'></button>
                        </div>
                    </form>
                </div>
                <ul class='nav nav-stacked'>
                    <li class=''>
                        <a href="@Url.Action("Index", "Home")">
                            <i class='icon-dashboard'></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class=''>
                        <a class="dropdown-collapse" href="#"><i class='icon-edit'></i>
                            <span>Administrator</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href="@Url.Action("Create", "Company")">
                                    <i class='icon-caret-right'></i>
                                    <span>Create Company</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href="@Url.Action("Create", "PassType")">
                                    <i class='icon-caret-right'></i>
                                    <span>Create Pass Type</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href="@Url.Action("Create", "VehicleType")">
                                    <i class='icon-caret-right'></i>
                                    <span>Create Vehicle Type</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href="@Url.Action("Register", "Account")">
                                    <i class='icon-caret-right'></i>
                                    <span>New User</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-collapse ' href='#'>
                            <i class='icon-tint'></i>
                            <span>Pass Office</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='ui_elements.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>Issue Passes</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='widgets.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>Get Payments</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=''>
                        <a href='#'>
                            <i class='icon-star'></i>
                            <span>Reports</span>
                        </a>
                    </li>
                    <li>
                        <a class='dropdown-collapse ' href='#'>
                            <i class='icon-building'></i>
                            <span>Client Company</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href="@Url.Action("Create", "PassRequest")">
                                    <i class='icon-caret-right'></i>
                                    <span>New Pass Request</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='gallery.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>Make Payments</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='timeline.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>View Requested Passes</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <section id='content'>
            <div class='container'>
                <div class='row' id='content-wrapper'>
                    <div class='col-xs-12'>
                        <div class='page-header page-header-with-buttons'>
                            <h1 class='pull-left'>
                                <i class='icon-dashboard'></i>
                                <span>Dashboard</span>
                            </h1>
                            <div class='pull-right'>
                                <div class='btn-group'>
                                    <a class="btn btn-white hidden-xs" href="#">Last month</a>
                                    <a class="btn btn-white" href="#">Last week</a>
                                    <a class="btn btn-white " href="#">Today</a>
                                </div>
                            </div>
                        </div>
                        <div class='alert alert-info alert-dismissable'>
                            <a class='close' data-dismiss='alert' href='#'>&times;</a>
                            Welcome to
                <strong>Pass Issuing Portal</strong>
                        </div>
                        <div class='row box box-transparent'>
                            <div class='col-xs-4 col-sm-2'>
                                <div class='box-quick-link blue-background'>
                                    <a href='#'>
                                        <div class='header'>
                                            <div class='icon-comments'></div>
                                        </div>
                                        <div class='content'>Pending Passes</div>
                                    </a>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-6 box'>
                                    <div class='box-header'>
                                        <div class='title'>
                                            <i class='icon-inbox'></i>
                                            Check In Details
                                        </div>
                                        <div class='actions'>
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                                            </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class='box-content'>
                                        <div id='stats-chart1'></div>
                                    </div>
                                </div>
                                <div class='col-sm-6 box'>
                                    <div class='box-header'>
                                        <div class='title'>
                                            <i class='icon-group'></i>
                                            Users
                                        </div>
                                        <div class='actions'>
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                                            </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class='box-content'>
                                        <div id='stats-chart2'></div>
                                    </div>
                                </div>
                            </div>
                            <footer id='footer'>
                                <div class='footer-wrapper'>
                                    <div class='row'>
                                        <div class='col-sm-6 text'>
                                            Copyright © 2013 Samitha Gunarathna
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $(".chat .new-message").live('submit', function (e) {
            var chat, date, li, message, months, reply, scrollable, sender, timeago;
            date = new Date();
            months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            chat = $(this).parents(".chat");
            message = $(this).find("#message_body").val();
            $(this).find("#message_body").val("");
            if (message.length !== 0) {
                li = chat.find("li.message").first().clone();
                li.find(".body").text(message);
                timeago = li.find(".timeago");
                timeago.removeClass("in");
                var month = (date.getMonth() + 1);
                var date_day = (date.getDate());
                timeago.attr("title", "" + (date.getFullYear()) + "-" + (month < 10 ? '0' : '') + month + "-" + (date_day < 10 ? '0' : '') + date_day + " " + (date.getHours()) + ":" + (date.getMinutes()) + ":" + (date.getSeconds()) + " +0200");
                timeago.text("" + months[date.getMonth()] + " " + (date.getDate()) + ", " + (date.getFullYear()) + " " + (date.getHours()) + ":" + (date.getMinutes()));
                setTimeAgo(timeago);
                sender = li.find(".name").text().trim();
                chat.find("ul").append(li);
                scrollable = li.parents(".scrollable");
                $(scrollable).slimScroll({
                    scrollTo: scrollable.prop('scrollHeight') + "px"
                });
                li.effect("highlight", {}, 500);
                reply = scrollable.find("li").not(":contains('" + sender + "')").first().clone();
                setTimeout((function () {
                    date = new Date();
                    timeago = reply.find(".timeago");
                    timeago.attr("title", "" + (date.getFullYear()) + "-" + (month < 10 ? '0' : '') + month + "-" + (date_day < 10 ? '0' : '') + date_day + " " + (date.getHours()) + ":" + (date.getMinutes()) + ":" + (date.getSeconds()) + " +0200");
                    timeago.text("" + months[date.getMonth()] + " " + (date.getDate()) + ", " + (date.getFullYear()) + " " + (date.getHours()) + ":" + (date.getMinutes()));
                    setTimeAgo(timeago);
                    scrollable.find("ul").append(reply);
                    $(scrollable).slimScroll({
                        scrollTo: scrollable.prop('scrollHeight') + "px"
                    });
                    return reply.effect("highlight", {}, 500);
                }), 1000);
            }
            return e.preventDefault();
        });
    </script>
    <script>
        $(".recent-activity .ok").live("click", function (e) {
            $(this).tooltip("hide");
            $(this).parents("li").fadeOut(500, function () {
                return $(this).remove();
            });
            return e.preventDefault();
        });
        $(".recent-activity .remove").live("click", function (e) {
            $(this).tooltip("hide");
            $(this).parents("li").fadeOut(500, function () {
                return $(this).remove();
            });
            return e.preventDefault();
        });
        $("#comments-more-activity").live("click", function (e) {
            $(this).button("loading");
            setTimeout((function () {
                var list;
                list = $("#comments-more-activity").parent().parent().find("ul");
                list.append(list.find("li:not(:first)").clone().effect("highlight", {}, 500));
                return $("#comments-more-activity").button("reset");
            }), 1000);
            e.preventDefault();
            return false;
        });
        $("#users-more-activity").live("click", function (e) {
            $(this).button("loading");
            setTimeout((function () {
                var list;
                list = $("#users-more-activity").parent().parent().find("ul");
                list.append(list.find("li:not(:first)").clone().effect("highlight", {}, 500));
                return $("#users-more-activity").button("reset");
            }), 1000);
            e.preventDefault();
            return false;
        });
    </script>
    <script>
        (function () {
            $("#daterange").daterangepicker({
                ranges: {
                    Yesterday: [moment().subtract("days", 1), moment().subtract("days", 1)],
                    "Last 30 Days": [moment().subtract("days", 29), moment()],
                    "This Month": [moment().startOf("month"), moment().endOf("month")]
                },
                startDate: moment().subtract("days", 29),
                endDate: moment(),
                opens: "left",
                cancelClass: "btn-danger",
                buttonClasses: ['btn', 'btn-sm']
            }, function (start, end) {
                return $("#daterange span").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
            });

        }).call(this);
    </script>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @RenderSection("scripts", required: false)
</body>
</html>
