<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @RenderSection("scripts", required: false)

    <title>Biyagama EPZ</title>
</head>
<body class='contrast-fb'>
    <header>
        <nav class='navbar navbar-default'>
            <a class='navbar-brand' href='index.html'>
                <img width="21" height="21" class="logo-xs" alt="Flatty" src="Images/logo_xs.png" />
            </a>
            <a class='toggle-nav btn pull-left' href='#'>
                <i class='icon-reorder'></i>
            </a>
            <ul class='nav'>
                <li class='dropdown light only-icon'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        <i class='icon-cog'></i>
                    </a>
                    <ul class='dropdown-menu color-settings'>
                        <li class='color-settings-body-color'>
                            <div class='color-title'>Change body color</div>
                            <a data-change-to='Content/Theme/light-theme.css' href='#'>Light
                            <small>(default)</small>
                            </a>
                            <a data-change-to='Content/Theme/dark-theme.css' href='#'>Dark
                            </a>
                        </li>
                        <li class='divider'></li>
                        <li class='color-settings-contrast-color'>
                            <div class='color-title'>Change contrast color</div>
                            <a data-change-to="contrast-red" href="#"><i class='icon-cog text-red'></i>
                                Red                                
                            </a>
                            <a data-change-to="contrast-blue" href="#"><i class='icon-cog text-blue'></i>
                                Blue
                                <small>(default)</small>
                            </a>
                            <a data-change-to="contrast-orange" href="#"><i class='icon-cog text-orange'></i>
                                Orange
                            </a>
                            <a data-change-to="contrast-purple" href="#"><i class='icon-cog text-purple'></i>
                                Purple
                            </a>
                            <a data-change-to="contrast-green" href="#"><i class='icon-cog text-green'></i>
                                Green
                            </a>
                            <a data-change-to="contrast-fb" href="#"><i class='icon-cog text-fb'></i>
                                Facebook
                            </a>
                            <a data-change-to="contrast-dark" href="#"><i class='icon-cog text-dark'></i>
                                Dark
                            </a>
                            <a data-change-to="contrast-pink" href="#"><i class='icon-cog text-pink'></i>
                                Pink
                            </a>
                            <a data-change-to="contrast-banana" href="#"><i class='icon-cog text-banana'></i>
                                Banana
                            </a>
                            <a data-change-to="contrast-brown" href="#"><i class='icon-cog text-brown'></i>
                                Brown
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='dropdown medium only-icon widget'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        <i class='icon-rss'></i>
                        <div class='label'>1</div>
                    </a>
                    <ul class='dropdown-menu'>
                        <li>
                            <a href='#'>
                                <div class='widget-body'>
                                    <div class='pull-left icon'>
                                        <i class='icon-user text-success'></i>
                                    </div>
                                    <div class='pull-left text'>
                                        New Pass Request from Lumiere Textiles
                      <small class='text-muted'>just now</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='dropdown dark user-menu'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        <span class='user-name'>Hi @User.Identity.Name</span>
                        <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu'>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <span>Log off</span>
                                    <i class='icon-signout'></i>
                                </a>
                            </li>                      
                        }
                    </ul>
                </li>
            </ul>
            <form action='search_results.html' class='navbar-form navbar-right hidden-xs' method='get'>
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
                <div class='form-group'>
                    <input value="" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text" />
                </div>
            </form>
        </nav>
    </header>
    <div id='wrapper'>
        <div id='main-nav-bg'></div>
        <nav id='main-nav'>
            <div class='navigation'>
                <div class='search'>
                    <form action='search_results.html' method='get'>
                        <div class='search-wrapper'>
                            <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                            <button class='btn btn-link icon-search' name='button' type='submit'></button>
                        </div>
                    </form>
                </div>
                <ul class='nav nav-stacked'>
                    @if (Roles.IsUserInRole("Administrator"))
                    {
                        <li class=''>
                            <a href="@Url.Action("Admin", "Home")">
                                <i class='icon-dashboard'></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class=''>
                            <a class="dropdown-collapse" href="#"><i class='icon-edit'></i>
                                <span>Administrator</span>
                                <i class='icon-angle-down angle-down'></i>
                            </a>
                            <ul class='nav nav-stacked'>
                                <li class=''>
                                    <a href="@Url.Action("Index", "Company")">
                                        <i class='icon-caret-right'></i>
                                        <span>Company Details</span>
                                    </a>
                                </li>
                                <li class=''>
                                    <a href="@Url.Action("Index", "PassType")">
                                        <i class='icon-caret-right'></i>
                                        <span>Pass Details</span>
                                    </a>
                                </li>
                                <li class=''>
                                    <a href="@Url.Action("Index", "VehicleType")">
                                        <i class='icon-caret-right'></i>
                                        <span>Vehicle Details</span>
                                    </a>
                                </li>
                                <li class=''>
                                    <a href="@Url.Action("Register", "Account")">
                                        <i class='icon-caret-right'></i>
                                        <span>User Details</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (Roles.IsUserInRole("Pass Office"))
                    {
                        <li class=''>
                            <a href="@Url.Action("Index", "Home")">
                                <i class='icon-dashboard'></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-collapse ' href='#'>
                                <i class='icon-tint'></i>
                                <span>Pass Office</span>
                                <i class='icon-angle-down angle-down'></i>
                            </a>
                            <ul class='nav nav-stacked'>
                                <li class=''>
                                    <a href='ui_elements.html'>
                                        <i class='icon-caret-right'></i>
                                        <span>Issue Passes</span>
                                    </a>
                                </li>
                                <li class=''>
                                    <a href='widgets.html'>
                                        <i class='icon-caret-right'></i>
                                        <span>Get Payments</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (Roles.IsUserInRole("Client User"))
                    {
                        <li class=''>
                            <a href="@Url.Action("Index", "Home")">
                                <i class='icon-dashboard'></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-collapse ' href='#'>
                                <i class='icon-building'></i>
                                <span>Client Company</span>
                                <i class='icon-angle-down angle-down'></i>
                            </a>
                            <ul class='nav nav-stacked'>
                                <li class=''>
                                    <a href="@Url.Action("Create", "PassRequest")">
                                        <i class='icon-caret-right'></i>
                                        <span>New Pass Request</span>
                                    </a>
                                </li>
                                <li class=''>
                                    <a href='gallery.html'>
                                        <i class='icon-caret-right'></i>
                                        <span>Make Payments</span>
                                    </a>
                                </li>
                                <li class=''>
                                    <a href='timeline.html'>
                                        <i class='icon-caret-right'></i>
                                        <span>View Requested Passes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <section id='content'>
            <div class="container">
                <div id="content-wrapper" class="row">
                    <div id="body">
                        @RenderSection("featured", required: false)
                        <section class="content-wrapper main-contsent clear-fix">
                            @RenderBody()
                        </section>
                    </div>
                </div>
            </div>
            <footer id='footer'>
                <div class='footer-wrapper'>
                    <div class='row'>
                        <div class='col-sm-6 text'>
                            Copyright © 2013 Samitha Gunarathna
                        </div>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</body>
</html>
