@model PassIssueSystem.Models.VehicleType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VehicleType</legend>

        @Html.HiddenFor(model => model.VehicleCode)

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleFee)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VehicleFee)
            @Html.ValidationMessageFor(model => model.VehicleFee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddDate)
            @Html.ValidationMessageFor(model => model.AddDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddUser)
            @Html.ValidationMessageFor(model => model.AddUser)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
